.container {
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 30px;
  justify-content: space-around;
  background-color: rgb(63, 60, 55);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  margin: 30px;
}
.wrapper h2 {
  font-size: 62px;
  font-weight: 400;
  color: white;
  margin: 60px 0px;
  width: 70%;
}
.wrapper {
  height: 86%;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper img {
  margin: 0;
}

.aboutWrapper {
  display: flex;
  justify-content: start;
  align-items: end;
}

.aboutTextWrapper {
  font-size: 14px;
  padding: 0px 20px;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
