.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 90vh;
  background-color: antiquewhite;
  margin: 0px 10px;
}

.textWrapper {
  margin: 20px;
  min-width: 250px;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.textWrapper h5 {
  font-size: 24px;
  padding-bottom: 10px;
  align-self: center; 
}

.textWrapper :nth-child(2) {
  padding: 20px 0px;

}
.textWrapper p {
  font-size: 20px;;
}

.textWrapper button {
  height: 55px;
  width:350px;
  background-color: rgb(144, 73, 31);
  color: white;
  border: none;
  font-size: 20px;
}

.imageListWrapper {
  display: flex;
  width: 100%;
}
.postList {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
  margin-right: 30px;
}
.postList > * {
  width: 100%;
}
.postWrapper {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  width: 100%;
  height: 100%;
}
.postWrapper
.postWrapper > * {
  width: 100%;
  height: fit-content;
  margin-right: 20px;
}
.horizontalRule {
  border-top: 1px solid black;
}
.dateTitle {
  display: flex;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
}
.dateTitle > p {
  margin-right: 10px;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr;
    column-gap: 10px;
    padding-bottom: 30px;
  }
  .textWrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
  }
  .textWrapper h5{
    margin-top:10px;
    font-size: 26px;
  }
  .textWrapper button{
    width: 350px;
    height: 55px;
  }

  .textWrapper :nth-child(2) {
    padding: 10px 0px;
    font-size: 22px;
    font-weight: 300;
  }
  .imageListWrapper {
    width: 80%;
    
  }
  .imageListWrapper:first-of-type(div) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 746px) {
  .wrapper {
    padding: 20px;
    height: auto;
  }
  .textWrapper {
    width: 100%;
    text-align: center;
  }

  .textWrapper button{
    width: 130px;
    height: 45px;
    /* font-size: 20px; */
  }
  .imageListWrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .imageListWrapper > * {
    margin-bottom: 10px;
  }

  .horizontalRule:last-of-type {
    display: none;
  }
  .imageListWrapper img{
    width:300px;
    height:450px;
    margin-bottom:30px;
  }
 
}
