.footer {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  background-color: rgb(255, 255, 255);
}

.addressBlock h3 {
  font-size: 20px;
  margin: 20px 0px 40px 0px;
}

.addressBlock p {
  font-size: 14px;
  padding: 2px 0px;
}

.newsletterBlock {
  width: 400px;
}

.newsletterBlock p {
  font-size: 14px;
  padding: 20px 0px;
}

.newsletterBlock form {
  padding: 20px 0px;
  
}

.newsletterBlock form input {
  background-color: rgb(255, 255, 255);

  height: 50px;
  border: 0.5px solid black;
  width: 250px;
  padding: 10px;
}

.button {
  height: 50px;
  background-color: rgb(144, 73, 31);
  border: 0.5px solid black;
  width: 110px;
  padding: 10px;
  margin-left: 10px;
}
