.footer{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
  
}

.addressBlock h3{
    font-size: 20px;
    margin: 20px 0px 40px 0px;
}

.addressBlock p{
    font-size: 14px;
    padding: 2px 0px
}

.newsletterBlock{
    width: 400px;
    
}

.newsletterBlock p{
    font-size: 14px;
    padding: 20px 0px;
}

.newsletterBlock form{
    padding: 20px 0px;
   

}


