.wrapper {
    background-color: rgb(63, 60, 55);
display: flex;
align-items: center;
  height: fit-content;
flex-wrap: wrap;
  margin: 0;
  padding:50px 0px;


}


.wrapper div{
 margin-left: 10px;
    display: flex;
    align-items: center;

}

.wrapper li{
    margin: 10px;
}
