.wrapper {
    background-color:white ;
display: flex;
align-items: center;
  height: 700px;

  margin: 0;

}


.wrapper div{
    margin-trim: 300px;
    display: flex;
    flexwrap: nowrap;

    align-items: center;
}

.wrapper div *{
    margin: 10px;
}