* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  color: black;
  scroll-behavior: smooth;
  background-color: white;

}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/toa-heftiba-KZwp2IIyXmA-unsplash.jpg");

  background-size: cover;
  background-position: center;
  z-index: -2;
}

.overlay{
  width: 100%;

  height: 100%;
  background-color: rgba(81, 67, 54, 0.762);
  z-index: -1;
  
}

.window-box {
  height: 450px;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
a[href^="#"] {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.blogContainer{

  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: rgba(102, 69, 52, 0.745);
  flex-direction: column;
  align-items: center;

}

.blogContainer h1{
  font-size: 68px;
  color: aliceblue;
}