.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  background-color: rgb(248, 229, 204);
  padding: 100px 20px;
  margin: 0px 30px;
}

.textWrapper {
  margin: 10px 50px 20px 0px;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textWrapper :first-child {
  font-size: 14px;
  padding-bottom: 10px;
}

.textWrapper :nth-child(2) {
  padding: 20px 0px;
}

.textWrapper button {
  height: 50px;
  background-color: rgb(144, 73, 31);
  color: white;
  border: none;
  font-size: 12px;
}

.menuList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuList li {
  margin: 10px;
  list-style: none;
}
.menuList h4 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
}

.menuList p {
  font-size: 14px;
  padding: 10px 0px;
}
